@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	/* height: 100%; */
	background-color: white;
	::-webkit-scrollbar {
		width: 10px;
	}


	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	::-webkit-scrollbar-thumb {
		background: #a9a8a8;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
}

.flex-grow::-webkit-scrollbar {
	display: none;
}

.settings-icon {
	transition: transform 1000ms ease;
}

.settings-icon:hover {
	transform: rotate(360deg);
}

.thin-icon {
	stroke-width: 5;
}
