@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: rgb(23,23,23);
		--primaryText: rgb(255,255,255, 0.8);
		--secondary: rgb(50, 50, 54);
		--substitute: rgb(38, 42, 46);
}


html,
body {
	/* height: 100%; */
	color: var(--primaryText);
	background-color: var(--primary);
	::-webkit-scrollbar {
		width: 8px;


	}



	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #545454;
		border-radius: 10px;


	}

	::-webkit-scrollbar-thumb:hover {
		background: #fff;
	}
}

.input-placeholder::placeholder {
  color: #606060
}

.flex-grow::-webkit-scrollbar {
	display: none;
}

.settings-icon {
	transition: transform 1000ms ease;
}

.settings-icon:hover {
	transform: rotate(360deg);
}

.glass-background {
	background: rgba(0, 0, 0, 1);
	backdrop-filter: blur(10px);
}

.textarea-placeholder::placeholder {
  color: white;
	font-weight: 200;
  font-size: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1.5s linear infinite;
}
